{% extends "auth/base" %}
{% block content %}
<div class="login-box">
  <div class="login-logo">
      {% if isAdmin %}
          <a href="/manage">Attender <b>Admin <span class="glyphicon glyphicon-lock"></span></b></a>
      {% else %}
        <a href="/"><b>A</b>ttender</a>
      {% endif %}
  </div>
  <div class="login-box-body">
      {% if not isAdmin %}
        <p class="login-box-msg">Sign in to start your session</p>
      {% endif %}
      <form method="post" action="">

          <div class="form-group has-feedback {% if old('emailerror') %} has-error {% endif %}">
              <input required type="email" class="form-control" name="email" value="{{ old('email') }}" placeholder="Email">
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
              {% if old('emailerror') %}
                <span class="help-block">
                  <strong>{{ old('emailerror') }}</strong>
                </span>
              {% endif %}
          </div>

          <div class="form-group has-feedback {% if old('passworderror') %} has-error {% endif %}">
              <input required type="password" class="form-control" placeholder="Password" name="password">
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              {% if old('passworderror') %}
                <span class="help-block">
                  <strong>{{ old('passworderror') }}</strong>
                </span>
              {% endif %}
          </div>
            <div class="row">
                <div class="col-xs-8">
                  {% if not isAdmin %}
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" name="remember"> Remember Me
                        </label>
                    </div>
                  {% endif %}
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>

          <div class="row">
            {# <a href="#" class="btn btn-facebook btn-block btn-flat">Facebook</a>
            <a href="#" class="btn btn-google btn-block btn-flat">Google</a>
            <a href="#" class="btn btn-instagram btn-block btn-flat">Instagram</a> #}
          </div>
      </form>
      {% if not isAdmin %}
        <a href="#">I forgot my password</a><br>
        <a href="/register" class="text-center">Register a new membership</a>
      {% endif %}
  </div>
</div>

{% endblock %}
