<li >
    <a href="/users"><i class="fa fa-user"></i><span>Users</span></a>
</li>

<li>
    <a href="/venues"><i class="fa fa-map-signs"></i><span>Venues</span></a>
</li>

<li>
    <a href="/organisers"><i class="fa fa-street-view"></i><span>Organisers</span></a>
</li>

<li>
    <a href="/staffs"><i class="fa fa-users"></i><span>Staffs</span></a>
</li>

<li>
    <a href="/events"><i class="fa fa-calendar-minus-o"></i><span>Events</span></a>
</li>

<li>
    <a href="/reviews"><i class="fa fa-file-text-o"></i><span>Reviews</span></a>
</li>

<li>
    <a href="/schedules"><i class="fa fa-calendar"></i><span>Schedules</span></a>
</li>
