{% extends "web/master" %}

{% block content %}
  <section class="content">
    <div class="row">
      <div class="col-lg-12">
        <div id="vb{{venue._id}}" class="box {% if venue.interested[user.staffId] %} box-primary {% else %} box-default {% endif %}">
          <div class="box-header with-border">
            <h3 class="box-title">{{ venue.name | title}}</h3>
            <button id="vi{{venue._id}}" type="button" class="btn btn-primary pull-right" name="button" style="{% if not venue.interested[user.staffId] %} display: none; {% endif %}">Interested <i class="fa fa-check-circle"></i></button>
            <button id="vin{{venue._id}}" onclick="venueInterest('{{venue._id}}')" type="button" class="btn btn-default pull-right" name="button" style="{% if venue.interested[user.staffId] %} display: none; {% endif %}">I'm Interested <i class="fa fa-location-arrow"></i></button>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-lg-6 text-center">
                <img src="{{ venue.image }}" style="height: auto; width: 350px;" alt="VENUE_IMAGE">
              </div>
              <div class="col-xs-12 col-lg-6 row">
                <div class="col-xs-12">
                  <strong><i class="fa fa-user margin-r-5"></i> Manager Name</strong>
                  <p class="text-muted">
                    {{ venue.managerName }}
                  </p>
                </div>
                <hr>
                <div class="col-xs-6 col-lg-12">
                  <strong><i class="fa fa-tags margin-r-5"></i> Services</strong>
                  <p>
                    {% for service in venue.services %}
                      <span class="label label-primary">{{ service | title }}</span>
                    {% else %}
                      <span class="label label-danger">N/A</span>
                    {% endfor %}
                  </p>
                </div>
                <hr>
                <div class="col-xs-6 col-lg-12">
                  <strong><i class="fa fa-home margin-r-5"></i> Type</strong>
                  <p>
                    {% for type in venue.type %}
                      <span class="label label-success">{{ type | title }}</span>
                    {% else %}
                      <span class="label label-danger">N/A</span>
                    {% endfor %}
                  </p>
                </div>
                <hr>
                <div class="col-lg-12 row">
                  <div class="col-xs-12">
                    <strong><i class="fa fa-clock-o margin-r-5"></i> Opening Hours</strong>
                  </div>
                  <div class="col-xs-6">
                    <p class="text-muted">Monday - Friday</p>
                    <p><strong>{{ venue.weekdayStart }} - {{ venue.weekdayEnd }}</strong></p>
                  </div>
                  <div class="col-xs-6">
                    <p class="text-muted">Saturday - Sunday</p>
                    <p><strong>{{ venue.weekendStart }} - {{ venue.weekendEnd }}</strong></p>
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">{{ venue.name | title }}'s Events</h3>
          </div>
          <div class="box-body">
            <div class="row">
              {% for event in events %}
                <div class="col-lg-6 col-sm-12">
                  <div id="eb{{event._id}}" class="box box-solid {% if event.interested[user.staffId] %} box-primary {% else %} box-default {% endif %}">
                    <div class="box-header with-border">
                      <h3 class="box-title">{{ event.name | title}}</h3>
                      <button id="ei{{event._id}}" type="button" class="btn btn-primary pull-right" name="button" style="{% if not event.interested[user.staffId] %} display: none; {% endif %}">Interested <i class="fa fa-check-circle"></i></button>
                      <button id="ein{{event._id}}" onclick="eventInterest('{{event._id}}')" type="button" class="btn btn-default pull-right" name="button" style="{% if event.interested[user.staffId] %} display: none; {% endif %}">I'm Interested <i class="fa fa-location-arrow"></i></button>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <div class="col-xs-12 col-lg-12 row">
                          <div class="col-xs-12">
                            <p class="text-muted"><strong>{{ readableDate(event.date) }}</strong> {{ event.time.start }} - {{ event.time.end }}</p>
                          </div>
                          <div class="col-xs-12">
                            <p class="text-muted">
                              {% for int in event.staffInterest %}
                                <span class="label label-primary">{{ int.quantity }} {{ int.staff | title }}</span>
                              {% endfor %}
                            </p>
                          </div>
                          <div class="col-xs-12">
                            <p class="text-muted">{{ event.description }}</p>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
