{% extends "master" %}

{% block content %}
<div class="content">
  <div class="clearfix"></div>
    <div class="box">
        <div class="box-header">
          <h3 class="box-title">Staffs ({{ staffs.length }})</h3>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hovered" id="staffs-table">
              <thead>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Mobile</th>
                  <th>Gender</th>
                  <th>Position</th>
                  <th>Frequency</th>
                  <th>Rate</th>
                  <th>Date Joined</th>
                  <th colspan="3">Action</th>
              </thead>
              <tbody>
              {% for staff in staffs %}
                  <tr>
                      <td>{{ staff.fullname | title }}</td>
                      <td>{{ staff.email }}</td>
                      <td>{{ staff.mobile }}</td>
                      <td>{{ staff.gender | title }}</td>
                      <td>
                        {% for position in staff.position %}
                          <span class="label label-warning">{{ position | title }}</span>
                        {% endfor %}
                      </td>
                      <td>{{ staff.frequency | title }}</td>
                      <td>
                        <span class="label label-primary">{{ staff.startRate }}</span> - <span class="label label-primary">{{ staff.endRate }}</span>
                      </td>
                      <td><span class="label label-default">{{ formatTime(staff.createdAt) }}</span></td>
                      <td>
                        <form class="" action="" method="post">
                          <div class='btn-group'>
                              <a href="" class='btn btn-default btn-xs'><i class="glyphicon glyphicon-eye-open"></i></a>
                              <a href="" class='btn btn-default btn-xs'><i class="glyphicon glyphicon-edit"></i></a>
                              <a href="" class='btn btn-default btn-xs'><i class="glyphicon glyphicon-trash"></i></a>
                          </div>
                        </form>
                      </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
    </div>
</div>

<a class="btn bg-purple fab" href="/manage/staffs/create"><i class="fa fa-plus"></i></a>

{% endblock %}
