{% extends "master" %}

{% block content %}
<div class="content">
  <div class="clearfix"></div>
    <div class="box">
        <div class="box-header">
          <h3 class="box-title">Venues ({{ venues.length }})</h3>
        </div>
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover" id="venues-table">
              <thead>
                  <th>Name</th>
                  <th>Manager Name</th>
                  <th>Type</th>
                  <th>Services</th>
                  <th>Date Joined</th>
                  <th colspan="3">Action</th>
              </thead>
              <tbody>
              {% for venue in venues %}
                  <tr>
                      <td>{{ venue.name }}</td>
                      <td>{{ venue.managerName }}</td>
                      <td style="max-width: 100px;">
                        {% for type in venue.type %}
                          <span class="label label-primary">{{ type | title }}</span>
                        {% else %}
                          <span class="label label-danger">N/A</span>
                        {% endfor %}
                      </td>
                      <td style="max-width: 100px;">
                        {% for service in venue.services %}
                          <span class="label label-primary">{{ service | title }}</span>
                        {% else %}
                          <span class="label label-danger">N/A</span>
                        {% endfor %}
                      </td>
                      <td><span class="label label-success">{{ formatTime(venue.createdAt) }}</span></td>
                      <td>
                        <form class="" action="" method="post">
                          <div class='btn-group'>
                              <a href="/manage/venues/{{ venue._id }}" class='btn btn-default btn-xs'><i class="glyphicon glyphicon-eye-open"></i></a>
                              <a href="/manage/venues/{{ venue._id }}/edit" class='btn btn-default btn-xs'><i class="glyphicon glyphicon-edit"></i></a>
                              <a onclick="deleteData('{{venue._id}}')"  class='btn btn-default btn-xs'><i class="glyphicon glyphicon-trash"></i></a>
                          </div>
                        </form>
                      </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
    </div>
</div>

<a class="btn bg-purple fab" href="/manage/venues/create"><i class="fa fa-plus"></i></a>

<script type="text/javascript">
  function deleteData(_id) {
    swal({
         title: "Are you sure you want to delete this data?",
         text: "All related data from this data will also be deleted",
         type: "warning",
         showCancelButton: true,
         confirmButtonText: "Continue",
         cancelButtonText: "Cancel",
         closeOnConfirm: false,
         showLoaderOnConfirm: true,
         closeOnCancel: true },
     function (isConfirm) {
         if (isConfirm) {
           $.ajax({
              url: `/manage/venues/${_id}`,
              type: 'DELETE',
              success: function(res) {
                if (res.status) {
                  swal('Successfully Deleted', '', 'success')
                  $(`#ud${_id}`).toggle('slide')
                } else {
                  swal('Can\'t delete this venue right now', 'Something went wrong', 'error')
                }
              }
          })
         }
    })

  }
</script>
{% endblock %}
