{% extends "master" %}

{% block content %}
<div class="content">
  <div class="clearfix"></div>
    <div class="box">
        <div class="box-header">
          <div class="box-title">
            Events ({{ events.length }})
          </div>
        </div>
        <div class="box-body table-responsive no-padding">
          <table class="table table-bordered " id="events-table">
              <thead>
                  <th>Name</th>
                  <th>Venue</th>
                  <th>Date</th>
                  <th>Creation</th>
                  <th colspan="3">Action</th>
              </thead>
              <tbody>
              {% for event in events %}
                  <tr id="ud{{event._id}}">
                      <td>{{ event.name }}</td>
                      <td><a href="/manage/venues/{{ event.venueId._id }}" target="_blank">{{ event.venueId.name | title }}</a></td>
                      <td>
                        <span class="label label-primary">{{ readableDate(event.date) }}</span>
                        <span class="label label-primary">{{ event.time.start }} - {{ event.time.end }}</span>
                      </td>
                      <td><span class="label label-default">{{ formatTime(event.createdAt) }}</span></td>
                      <td>
                        <form class="" action="" method="post">
                          <div class='btn-group'>
                              <a href="" class='btn btn-default btn-xs'><i class="glyphicon glyphicon-eye-open"></i></a>
                              <a href="/manage/events/{{ event._id }}/edit" class='btn btn-default btn-xs'><i class="glyphicon glyphicon-edit"></i></a>
                              <a onclick="deleteData('{{event._id}}')" class='btn btn-default btn-xs'><i class="glyphicon glyphicon-trash"></i></a>
                          </div>
                        </form>
                      </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
    </div>
</div>

<a class="btn bg-purple fab" href="/manage/events/create"><i class="fa fa-plus"></i></a>
<script type="text/javascript">
  function deleteData(_id) {
    swal({
         title: "Are you sure you want to delete this data?",
         text: "All related data from this data will also be deleted",
         type: "warning",
         showCancelButton: true,
         confirmButtonText: "Continue",
         cancelButtonText: "Cancel",
         closeOnConfirm: false,
         showLoaderOnConfirm: true,
         closeOnCancel: true },
     function (isConfirm) {
         if (isConfirm) {
           $.ajax({
              url: `/manage/events/${_id}`,
              type: 'DELETE',
              success: function(res) {
                if (res.status) {
                  swal('Successfully Deleted', '', 'success')
                  $(`#ud${_id}`).toggle('slide')
                } else {
                  swal('Can\'t delete this event right now', 'Something went wrong', 'error')
                }
              }
          })
         }
    })

  }
</script>
{% endblock %}
